<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>chapter01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>chapter02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>chapter03.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>chapter04.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>chapter05.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>chapter06.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>chapter07.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>chapter08.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>chapter09.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>chapter10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>ingredients.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07DAF7CD485641358AAE4821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23BC0630AB4C47CFA5E42344</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3021DAACFCD04B46AC1263BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57CA8600004A442CAD0A6C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AECC30A16A140E0A3CBBE55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E62782326744709A9195079</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>634A292751A74B49B176F963</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6ABBDBB6DFEA4E71862264EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E67C69EEBB0455D95B7EC0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B11BBFD25EEF4DCF8994DA3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4AFCA7B92664448B10BAF5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C54AC7D13B0741498F0E99B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D92E88016B33428F82FB690C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
